<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="custom-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Calendario Escolar 2024
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="diary()" class="custom-button">Agenda</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="login()" class="custom-button">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
