/* Theme variables */
:root {
	--ion-color-primary: #535C91;
	--ion-color-primary-rgb: 83,92,145;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #495180;
	--ion-color-primary-tint: #646c9c;

	--ion-color-secondary: #40A2E3;
	--ion-color-secondary-rgb: 64,162,227;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #388fc8;
	--ion-color-secondary-tint: #53abe6;

	--ion-color-tertiary: #0D9276;
	--ion-color-tertiary-rgb: 13,146,118;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #0b8068;
	--ion-color-tertiary-tint: #259d84;

	--ion-color-success: #BFEA7C;
	--ion-color-success-rgb: 191,234,124;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #a8ce6d;
	--ion-color-success-tint: #c5ec89;

	--ion-color-warning: #F9F07A;
	--ion-color-warning-rgb: 249,240,122;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #dbd36b;
	--ion-color-warning-tint: #faf287;

	--ion-color-danger: #7E2553;
	--ion-color-danger-rgb: 126,37,83;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #6f2149;
	--ion-color-danger-tint: #8b3b64;

	--ion-color-light: #BBE2EC;
	--ion-color-light-rgb: 187,226,236;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #a5c7d0;
	--ion-color-light-tint: #c2e5ee;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-dark: #070F2B;
	--ion-color-dark-rgb: 7,15,43;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #060d26;
	--ion-color-dark-tint: #202740;
}
