<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- Columna de la imagen de bienvenida -->
      <ion-col size-md="6">
        <ion-img
        src="https://ionic-docs-demo-v7.vercel.app/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
        <h2 class="ion-padding-top ion-text-center">¡Bienvenido!</h2>
      </ion-col>

      <!-- Columna del componente de calendario -->
      <ion-col size-md="6">
          <ion-card-content>
            <!-- Aquí puedes colocar tu componente de calendario -->
            <!-- Por ejemplo, si estás utilizando un componente de calendario externo, puedes integrarlo aquí -->
            <!-- Si estás utilizando un componente de calendario personalizado, puedes agregarlo aquí -->
            <ion-card style="border: 2px dotted; text-align: center; padding: 20px;">
              Aquí irá el calendario
            </ion-card>
          </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
