<app-header></app-header>

<ion-content>

  <ion-card class="chip-container">
    <ion-card-content>
      <ion-chip color="chip1">Reinscripciones</ion-chip>
      <ion-chip color="chip2">Inicio de clases</ion-chip>
      <ion-chip color="chip3">Reinscripciones tardias</ion-chip>
      <ion-chip color="chip4">Baja de materias</ion-chip>
      <ion-chip color="chip5">Suspensiones</ion-chip>
      <ion-chip color="chip6">Vacaciones</ion-chip>
      <ion-chip color="chip7">Ceremonia de egresados</ion-chip>
      <ion-chip color="chip8">Cursos de verano</ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- Primera fila de componentes de calendario -->
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-01" [highlightedDates]="highlightedDates.enero"></ion-datetime>
        </ion-card-content>
      </ion-col>
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-02" [highlightedDates]="highlightedDates.febrero"></ion-datetime>
        </ion-card-content>
      </ion-col>
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-03" [highlightedDates]="highlightedDates.marzo"></ion-datetime>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <!-- Segunda fila de componentes de calendario -->
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-04" [highlightedDates]="highlightedDates.abril"></ion-datetime>
        </ion-card-content>
      </ion-col>
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-05" [highlightedDates]="highlightedDates.mayo"></ion-datetime>
        </ion-card-content>
      </ion-col>
      <ion-col size="4">
        <ion-card-content>
          <ion-datetime class="my-calendar" presentation="date" value="2024-06" [highlightedDates]="highlightedDates.junio"></ion-datetime>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
